<div
  class="conversion-input"
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
>
  <div fxLayout="column" class="from-text">
    <p class="from">From</p>
    <input type="text" value="1" class="input-value" />
    <select matNativeControl required class="selected-field">
      <option value="foot">Foot</option>
      <option value="kilometer">kilometer</option>
      <option value="meter">Metre</option>
      <option value="Milimeter">Milimeter</option>
      <option value="inch">Inch</option>
    </select>
  </div>
  <div fxLayout="column" class="to-text">
    <p class="from">To</p>
    <input type="text" value="12" class="input-value" />
    <select matNativeControl required class="selected-field">
      <option value="inch">Inch</option>
      <option value="kilometer">kilometer</option>
      <option value="meter">Metre</option>
      <option value="Milimeter">Milimeter</option>
      <option value="foot">Foot</option>
    </select>
  </div>
</div>
