<div
  class="conversion-input"
  fxLayout="row" fxLayoutAlign="center center" fxLayout.xs='column'
>
  <div fxLayout="column" class="from-text">
    <p class="from">From</p>
    <input
      type="text"
      [value]="boxValue === 'boxOne' ? 0 : finalResult"
      (keyup)="conversionBox($event, 'boxOne')"
      class="input-value"
    />
    <select
      matNativeControl
      required
      class="selected-field"
      (click)="subUnits($event)"
    >
      <option *ngFor="let subUnit of subUnit">
        {{ subUnit }}
      </option>
    </select>
  </div>
  <div fxLayout="column"  class="to-text">
    <p class="from">To</p>
    <input
      type="text"
      [value]="boxValue === 'boxOne' ? finalResult : 0"
      (keyup)="conversionBox($event, 'boxTwo')"
      class="input-value"
    />
    <select
      matNativeControl
      required
      class="selected-field"
      (click)="subUnitsTWO($event)"
      
    >
      <option
        *ngFor="let subUnit of subUnit; let i = index"
        [selected]="i == 1"
      >
        {{ subUnit }}
      </option>
    </select>
  </div>
</div>