<div
  class="conversion-input"
  fxLayout="row"
  fxLayoutAlign="space-evenly center"
>
  <div fxLayout="column" class="from-text">
    <p class="from">From</p>
    <input type="text" [value]="inputOne" class="input-value" />
    <select matNativeControl required class="selected-field">
      <option *ngFor="let subUnit of subUnit">
        {{ subUnit }}
      </option>
    </select>
  </div>
  <div fxLayout="column" class="to-text">
    <p class="from">To</p>
    <input type="text" [value]="inputTwo" class="input-value" />
    <select matNativeControl required class="selected-field">
      <option
        *ngFor="let subUnit of subUnit; let i = index"
        [selected]="i == 1"
      >
        {{ subUnit }}
      </option>
    </select>
  </div>
</div>
