.from-text {
  margin-top: 2%;
}

.to-text {
  margin-top: 2%;
}

.input-value {
  height: 51px;
  width: 300px;
  border: 1px solid #e7dcfe;
  background-color: white;
  font-size: 31px;
  padding-left: 20px;
  outline: none;
}

.selected-field {
  width: 325px;
  height: 45px;
  border: 1px solid #e7dcfe;
  outline: none;
  padding-left: 20px;
  font-family: Montserrat, Medium;
}

.from {
  margin-left: 2%;
  opacity: 0.65;
}

option:checked,
option:hover {
  color: green;
  background: lightgreen repeat;
}
