.from-text {
  margin-top: 2%;
}

 .to-text {
margin-top: 2%;
 }

.input-value {
  height: 51px;
  width: 300px;
  border: 1px solid #e7dcfe;
  background-color: white;
  font-size: 31px;
  padding-left: 20px;
  outline: none;
}

.selected-field {
  width: 325px;
  height: 45px;
  border: 1px solid #e7dcfe;
  outline: none;
  padding-left: 20px;
  font-family: Montserrat, Medium;
}

.from {
  margin-left: 2%;
  opacity: 0.65;
}

option:checked,
option:hover {
  color: green;
  background: lightgreen repeat;
}

// @media only screen and (min-device-width: 1020px) and (max-device-width: 1300px) {
//   .conversion-input {
//     width: 1000px;
//   }

//   .input-value {
//     height: 40px;
//     width: 280px;
//   }

//   .selected-field {
//     width: 300px;
//     height: 40px;
//     margin-left: 0%;
//   }

//   .from-text {
//     margin-left: -9%;
//     width: 38%;
//   }

//   .from {
//     font-size: 22px;
//   }
// }
