<div class="main" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column">
    <div class="sub-div">
      <p class="type-name">CHOOSE TYPE</p>
    </div>
    <div
      class="card-div"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      fxLayoutGap.xs="10px"
    >
      <mat-card
        [(ngClass)]="length"
        (mouseover)="changeLength = true"
        (mouseout)="onOut()"
        (click)="clickLength('LENGTH')"
        ><img
          id="length"
          [src]="
            changeLength
              ? '../../../assets/images/length-color.png'
              : '../../../assets/images/length-no-color.png'
          "
          alt="Unit-Type-Length"
        />
        <mat-card-content>
          <p>Length</p>
        </mat-card-content>
      </mat-card>

      <mat-card
        [(ngClass)]="temperature"
        (mouseover)="changeTemperature = true"
        (mouseout)="onTempOut()"
        (click)="clickTemperature('TEMPERATURE')"
        ><img
          id="temperature"
          [src]="
            changeTemperature
              ? '../../../assets/images/temperature.png'
              : '../../../assets/images/temperature-no-color.png'
          "
          alt="Unit-Type-Temperature"
        />
        <mat-card-content>
          <p>Temperature</p>
        </mat-card-content>
      </mat-card>
      <mat-card
        [(ngClass)]="volume"
        (mouseover)="changeVolume = true"
        (mouseout)="onOutVolume()"
        (click)="clickVolume('VOLUME')"
        ><img
          id="Volume"
          [src]="
            changeVolume
              ? '../../../assets/images/volume-color.png'
              : '../../../assets/images/volume-no-color.png'
          "
          alt="Unit-Type-Volume"
        />
        <mat-card-content>
          <p>Volume</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<app-conversions
  [subUnit]="subUnit"
  [primaryUnit]="primaryUnit"
></app-conversions>
